.container {
  width: 500px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
  text-align: center;
}

.conteiner-title {
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}
